<md-toolbar color="primary">
    <button class="app-icon-button" [routerLink]="['/messages']">
      <i class="material-icons app-toolbar-menu">arrow_back</i>
    </button>
    <span>{{title}}</span>
</md-toolbar>
<div class="app-content">
  <div class="messages-page-content">
    <div *ngFor="let message of messages | async" class="message-wrapper">
      <div [class]="'message message-' + message.ownership">
        <div class="message-content">{{message.content}}</div>
        <span class="message-timestamp">{{message.createdAt | amDateFormat: 'h:mm'}}</span>
      </div>
    </div>
  </div>

  <div class="message-textbox">
    <md-input-container style="width: 90%">
      <input mdInput [(ngModel)]="message" md-input placeholder="Message" (keyup.enter)="onInputKeypress()"></input>
    </md-input-container>
    <button class="app-icon-button" (click)="sendMessage()">
      <md-icon>send</md-icon>
    </button>
  </div>
</div>
