<md-toolbar color="primary">
  <!-- <button *xs class="app-icon-button" (click)="toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button> -->
  <span [routerLink]="['/listings']">All Trades</span>
  <span class="example-spacer"></span>
  <div class="button-row" *ngIf="!user">
    <button class="login-buttons" md-button (click)="openLoginDialog()">Log In</button>
    <button class="login-buttons" md-button (click)="openSignupDialog()">Sign Up</button>
  </div>
  <div *ngIf="user">
    <img class="avatar-image" src="{{user | avatar}}" >
    <button md-button [mdMenuTriggerFor]="menu">{{ user | displayName }}</button>
    <md-menu [overlapTrigger]="false" #menu="mdMenu">
      <button md-button (click)="logout()">Log Out</button>
    </md-menu>
  </div>

</md-toolbar>
<mobilenav></mobilenav>
<div class="app-content">
  <div *ngIf="user">
    <md-toolbar *ngIf="!user.emails[0].verified">
      <p>You have not verified your account yet.&nbsp;</p>
      <a href="javascript:void(0);" (click)="resendVerification()">Re-send activation email</a>
    </md-toolbar>
  </div>
  <app-course
    *ngFor="let i of data | async"
    [listing]="i">
  </app-course>
</div>
