<md-card>
  <md-toolbar style="background-color:#fff; padding: 0; margin: 0; max-height:16px; min-height:16px;" *xs>
    <span class="example-spacer"></span>
    <button md-dialog-close md-icon-button tabindex="-1" style="left: 10px; bottom:30px;"><md-icon style="padding: 0;">close</md-icon></button>
  </md-toolbar>
  <md-card-content>
    <button (click)="loginWithFacebook()" md-raised-button color="warn" class="login-button">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
      &nbsp; Log in with Facebook
    </button>

    <p>Logging in with Facebook lets your classmates recognize you online. <a routerLink="/about" (click)="dialogRef.close('about')">Learn more</a></p>


    <div class="signup-or-separator">
      <span class="h6 signup-or-separator--text">or</span>
      <hr>
    </div>

    <form [formGroup]="loginForm" #f="ngForm" layout="column" layout-fill layout-padding layout-margin>
      <md-input-container style="width:100%;">
        <input mdInput formControlName="email" type="email" placeholder="Email"></input>
      </md-input-container>

      <md-input-container style="width:100%;">
        <input mdInput formControlName="password" type="password" placeholder="Password"></input>
      </md-input-container>

      <div layout="row" layout-align="space-between center">
        <button (click)="login()" md-raised-button color="primary" class="login-button" type="submit" aria-label="login">Log in</button>
      </div>
    </form>

    <md-divider></md-divider>

    <div class="button-row">
      <p>Don't have an account?</p>
      <button md-button (click)="dialogRef.close('signup')">Sign up</button>
    </div>

  </md-card-content>
</md-card>
