<div class="app-content">
  <div class="md-content" layout="row" layout-align="center start" layout-fill layout-margin>
    <div layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
      <md-toolbar class="md-primary" color="primary">
        <button class="app-icon-button" [routerLink]="['/listings']">
          <i class="material-icons app-toolbar-menu">arrow_back</i>
        </button>
        <span>Sign Up</span>
      </md-toolbar>
      <md-card>
        <div layout="column" layout-fill layout-margin layout-padding>

          <form [formGroup]="signupForm" #f="ngForm" (ngSubmit)="signup()"
                layout="column" layout-fill layout-padding layout-margin>

            <md-input-container>
              <input mdInput formControlName="email" type="email" placeholder="@davidson.edu email"></input>
            </md-input-container>

            <p>Your email is used only for authentication and will not be shared with other users.</p>
            <md-divider></md-divider>

            <md-input-container>
              <input mdInput formControlName="password" type="password" placeholder="Password"></input>
            </md-input-container>

            <md-divider></md-divider>
            <div layout="row" layout-align="space-between center">
              <p>Your username will be attached to the listings you submit. To remain anonymous, try generating a fun 'animal + adjective' username using the button below.</p>
              <button md-raised-button (click)="makeName()" type="button" style="padding:50">Generate a fun username</button>
            </div>

            <md-input-container>
              <input mdInput formControlName="displayname" type="displayname" [value]="displayname" placeholder="Username"></input>
            </md-input-container>
          
            <div layout="row" layout-align="space-between center">
              <button md-raised-button class="md-primary" type="submit" aria-label="login">Sign Up</button>
            </div>

          </form>

          <div [hidden]="error == ''">
            <md-toolbar class="md-warn" layout="row" layout-fill layout-padding layout-margin>
              <p class="md-body-1">{{ error }}</p>
            </md-toolbar>
          </div>

          <div layout="row" layout-align="center">
            <a md-button [routerLink]="['/login']">Already a user?</a>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>
