<md-card style="max-width:500px;">
  <md-toolbar style="background-color:#fff; padding: 0; margin: 0; max-height:16px; min-height:16px;" *xs>
    <span class="example-spacer"></span>
    <button md-dialog-close md-icon-button tabindex="-1" style="left: 10px; bottom:30px;"><md-icon style="padding: 0;">close</md-icon></button>
  </md-toolbar>
  <md-card-content>
    <button (click)="loginWithFacebook()" md-raised-button color="warn" class="login-button">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
      &nbsp; Sign up with Facebook
    </button>

    <p>Signing up with Facebook lets your classmates recognize you online.</p>
    <p>You'll still need a davidson.edu email to make posts or contact other users.</p>
    <a routerLink="/about" (click)="dialogRef.close('about')">Learn more.</a>

    <div class="signup-or-separator">
      <span class="h6 signup-or-separator--text">or</span>
      <hr>
    </div>

    <form [formGroup]="signupForm" #f="ngForm" layout="column" layout-fill layout-padding layout-margin>
      <md-input-container style="width:100%;">
        <input mdInput formControlName="email" type="email" placeholder="@davidson.edu email"></input>
      </md-input-container>

      <md-input-container style="width:100%;">
        <input mdInput formControlName="password" type="password" placeholder="Password"></input>
      </md-input-container>

      <md-input-container style="width:100%;">
        <input mdInput formControlName="displayname" placeholder="Username"></input>
      </md-input-container>

      <div layout="row" layout-align="space-between center">
        <button (click)="signup()" md-raised-button color="primary" class="login-button" type="submit" aria-label="login">Sign up</button>
      </div>

    </form>

    <div [hidden]="error == ''">
      <md-toolbar class="md-warn" layout="row" layout-fill layout-padding layout-margin>
        <p class="md-body-1">{{ error }}</p>
      </md-toolbar>
    </div>
    <md-divider></md-divider>
    <div class="button-row">
      <p>Already have a Swaptime account?</p>
      <button md-button (click)="dialogRef.close('login')">Log in</button>
    </div>
  <md-card-content>
</md-card>
