<md-toolbar color="primary">
  <button *xs class="app-icon-button" [routerLink]="['/listings']">
    <i class="material-icons app-toolbar-menu">arrow_back</i>
  </button>
  <span>About</span>
</md-toolbar>
<mobilenav></mobilenav>
<div class="app-content">
  <md-card>
    <md-card-content>
      <h2>About</h2>
      <p>
      I built this app as the foundation for my senior thesis in Digital
      Studies at Davidson College.
      </p>
      <p>
      You can check out more of my projects <a href="http://www.alechemy.org">
      here</a>.
      </p>
      <md-divider></md-divider>
      <h2>How to use</h2>
      <ul>
        <li>1. <strong>Post.</strong> Create a listing by clicking "Submit" in
            the menu on the left. You can either request a course or offer one
            of your own.</li>
        <li>2. <strong>Browse.</strong> Peruse other users' listings on the
            "All Listings" page, and if something catches your eye, click on
            the listing. On the next page, you can start a chat thread with
            that user.</li>
        <li>3. <strong>Trade.</strong> Using the in-app messaging system,
            coordinate your trade. The safest way to conduct a course swap is
            for both parties to visit the Registrar's office.</li>
        <li>4. <strong>Cleanup.</strong> When your trade is complete, please
            delete the listing (or, if it belongs to another user, request that
            he/she do so).</li>
      </ul>
      <md-divider></md-divider>

      <h2>SSO (Facebook) login</h2>
      <p>A motivating research question for this project is how users develop
         trust in other users online, and whether that trust can be 'imported'
         into unfamiliar sites using single-sign-on services (SSOs).</p>

      <p>In an attempt to approach that question, I offer you, the user, the
         ability to log in with your Facebook account.
         Choosing this option will attach your Facebook profile picture to
         listings you make.</p>

      <h3>Why?</h3>
      <p>The intent here is to help users make informed decisions about which
         users to contact. You only need a @davidson.edu email to sign up for
         and use Swaptime, but other users may be more likely to contact you if
         they can verify your identity by seeing your name and profile picture,
         and vice versa.
      </p>

      <h3>Permissions</h3>
      <p>When you choose to log in with Facebook, Swaptime requests the bare
        minimum permissions from your Facebook profile. Specifically, Swaptime
        requests the 'public_profile' and 'email' permissions from your account.
        Info on these and other permissions can be reviewed at Facebook's
        developer wiki
        <a href="https://developers.facebook.com/docs/facebook-login/permissions#reference-public_profile" target="_blank">here.</a>
      </p>

      <p>Using these permissions, I store your email address (so I can get in
         touch with you if necessary - no spam or email lists) and your name and
         profile picture (for attaching to your listings).</p>

      <h3>Finer-grained SSO Permissions</h3>
      <p>Since Swaptime only benefits from storing your name and profile
         picture, I don't want or need access to other parts of your Facebook
         profile (e.g. your friends list, cover photo, or age range).
         Unfortunately, Facebook only gives access to profile pictures under a
         larger 'public_profile' permission.</p>

      <p>I want fine-grained control over my identity online, and so should
         you. If you're interested, consider heading to <a href="https://www.facebook.com/help/contact/268228883256323" target="_blank">
         Facebook's feedback center</a> and suggesting that they offer developers
         better, more specific permissions that ensure we receive <em>only</em>
         the data we need - and that you want to share.</p>

      <md-divider></md-divider>
      <h2>Tools used</h2>
      <p>This web app was built with Angular 2 and MeteorJS (united via
         angular-meteor), and uses angular/material2 and PrimeNG UI
         components.</p>

      <md-divider></md-divider>
      <h2>Acknowledgments</h2>
      <p>
      I would like to thank: Dennis A., Katie G., John C., Jasmine M.,
      Elizabeth H., Nicholas T., and Elaine Ruth B.
      for their invaluable guidance during the planning stages of this app.
      Many other people helped too, but I promised these folks a shout-out on
      since they completed a survey for me. :)
      </p>
    </md-card-content>
  </md-card>
</div>
