<div class="app-content">
  <md-toolbar color="primary">
    <button *xs class="app-icon-button" (click)="toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span>About</span>
  </md-toolbar>
  <div class="app-content">
    <md-card>
      <md-card-content>
        <h2>About</h2>
        <p>
        I built this app as the foundation for my senior thesis in Digital Studies at Davidson College.
        </p>
        <p>
        You can check out more of my projects on my <a href="http://www.alechemy.org">personal portfolio</a>.
        </p>
        <md-divider></md-divider>
        <h2>How to use</h2>
        <ul>
          <li>1. Submit a listing by clicking "Submit" in the menu on the left. You can either request a course or offer one of your own.</li>
          <li>2. Browse other users' listings on the "All Listings" page, and if something catches your eye, click on the listing. On the next page, you can start a chat thread with that user.</li>
          <li>3. Using the in-app messaging system, coordinate your trade. The safest way to conduct a course swap is for both parties to visit the Registrar's office.</li>
          <li>4. When your trade is complete, please delete the listing (or, if it belongs to another user, request that he/she do so).</li>
        </ul>
        <md-divider></md-divider>
        <h2>Info</h2>
        <p>This web app was built with Angular 2 and MeteorJS (united via angular-meteor), and uses angular/material2 and PrimeNG UI components.</p>

        <md-divider></md-divider>
        <h2>Acknowledgments</h2>
        <p>
        I would like to thank: Dennis A., Katie G., Jasmine M., Elizabeth H., Nicholas T., and Elaine Ruth B.
        for their invaluable guidance during the planning stages of this app.
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>
