<md-toolbar color="primary">
  <button class="app-icon-button" [routerLink]="['/listings']">
    <i class="material-icons app-toolbar-menu">arrow_back</i>
  </button>
  <span>{{listing.type}}: {{ listing.department }} {{ listing.courseNumber }}</span>
</md-toolbar>
<mobilenav></mobilenav>
<div class="app-content">
  <div *ngIf="listing">
    <md-card>
      <md-card-subtitle *ngIf="isOwner(listing)">Once you have completed your trade, please remember to delete this listing.</md-card-subtitle>
      <md-card-title>{{listing.type}}: {{ listing.department }} {{ listing.courseNumber }} {{listing.section}}</md-card-title>
      <h5>Course title: {{ listing.fullTitle }}</h5>
      <h5>Time/days: {{ listing.days }} {{ listing.time }}</h5>
      <h5 *ngIf="listing.labdays">Lab: {{ listing.labdays }} {{ listing.labtime }}</h5>
      <h5>Listing description:</h5>
      <p>{{ listing.description }}</p>
      <md-divider></md-divider>
      <md-card-actions>
        <button *ngIf="!isOwner(listing)" md-button (click)="addChat(listing.owner)"><md-icon>message</md-icon>CONTACT</button>
        <button *ngIf="isOwner(listing)" md-button (click)="deleteListing()" [routerLink]="['/listings']"><md-icon>delete</md-icon>DELETE</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
