<md-toolbar color="primary">
  <button class="app-icon-button" [routerLink]="['/listings']">
    <i class="material-icons app-toolbar-menu">arrow_back</i>
  </button>
  <span>{{listing.type}}: {{ listing.department }} {{ listing.courseNumber }}</span>
</md-toolbar>
<mobilenav></mobilenav>
<div class="app-content">
  <div *ngIf="listing">
    <md-card>
      <md-card-subtitle *ngIf="isOwner(listing)">Once you have completed your trade, please remember to delete this listing.</md-card-subtitle>
      <md-card-title>{{listing.type}}: {{ listing.department }} {{ listing.courseNumber }} {{listing.section}} - {{listing.fullTitle}}</md-card-title>
      <span *ngIf="ownerName">Posted by {{ownerName}} - </span><span> {{ listing.createdAt | amCalendar }}</span><br />
      <img *ngIf="profilePic" class="avatar-image" style="margin-bottom:20px; margin-top:20px;" src="{{ profilePic }}">
      <md-divider></md-divider>
      <p><b>Course title:</b> {{ listing.fullTitle }}</p>
      <p><b>Time/days:</b> {{ listing.days }} {{ listing.time }}</p>
      <p *ngIf="listing.labdays"><b>Lab:</b> {{ listing.labdays }} {{ listing.labtime }}</p>
      <h4>Description:</h4>
      <p>{{ listing.description }}</p>
      <md-divider></md-divider>
      <md-card-actions>
        <button *ngIf="!isOwner(listing)" md-button (click)="addChat(listing.owner)"><md-icon>message</md-icon>Message {{ownerName}}</button>
        <button *ngIf="isOwner(listing)" md-button (click)="deleteListing()" [routerLink]="['/listings']"><md-icon>delete</md-icon>DELETE</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
